:root {
  font-family: Montserrat, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --shadow-card: 0 7px 14px 0 #142b991a, 0 3px 6px 0 #00000012;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: Montserrat,sans-serif */
}

/* ::-webkit-scrollbar {
  display: none;
} */


/* --------------------------- */
/* --Table pc------------- */
/* --------------------------- */

th,
td {
  border: 1px solid #edf2f9;
  padding: .8rem;
  text-align: center;

}

table {
  width: 100%;
  border-collapse: collapse;
}

tr th {
  padding: .8rem;
  background-color: #edf2f9;
  text-align: center;

}

thead {
  color: #303b4a;
}

tbody {
  color: #5e6e82;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9fafd;
}


/* --------------------------- */
/* --Table mobile------------- */
/* --------------------------- */

.ssss {
  display: flex;
  border-bottom: 2px solid #ccd4e0;
}


.colum_mobile {
  white-space: nowrap;
  background: #edf2f9;
  color: #303b4a;
  font-weight: 600;
}

.row_mobile {
  width: 100%;
  color: #5e6e82;
}

.colum_mobile p,
.row_mobile p {
  padding: .5rem;
  border: 1px solid #edf2f9;
}

.ssss:nth-child(odd) .row_mobile {
  background-color: white;
}

.ssss:nth-child(even) .row_mobile {
  background-color: #f9fafd;
}

.table_mobile {
  display: none;
}
@media (max-width: 475px) {
  .table_mobile {
    display: block !important;
  }
  .table_desktop{
    display: none !important;
  }

}


/* --------------------------- */
/* --Table recibo------------- */
/* --------------------------- */


.tableRecibo {
  width: 100%;
  border-collapse: collapse;
}

.tableRecibo th,
.tableRecibo td {
  border-left: 0 ;
  border-right: 0 ;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  padding: 5px;
  text-align: center;
}

.tableRecibo tr th {
  padding: 5px;
  background-color: #00000000;
  text-align: center;
}

.tableRecibo thead {
  color: #000000;
}

.tableRecibo tbody {
  color: #000000;
}

.tableRecibo tbody tr:nth-child(odd) {
  background-color: #00000000;
}

.tableRecibo tbody tr:nth-child(even) {
  background-color: #00000000 ;
}

/* --------------------- */
/* --------------------- */
/* --------------------- */




@keyframes contend_seccion_animation {
  0% {
      /* transform: translateX(-100%); */
      opacity: 0;
      visibility: hidden;
      /* max-width: 0px; */
  }

  100% {
      /* transform: translateX(0); */
      opacity: 1;
      visibility: visible;
      /* max-width: 100%; */
  }
}

/* .contend_seccion {
  animation-name: contend_seccion_animation;
  animation-duration: 900ms;
} */


.btn_edit_small {
  border: 0px;
  padding: 10px 12px 10px 12px;
  border-radius: .5rem;
  background: #ffc107;
  color: white;
  cursor: pointer;
  box-shadow: #0000004d 0px 1px 7px -3px;
}

.btn_edit_small:hover {
  background: #dda809;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */


.checkbox-wrapper-64 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

.checkbox-wrapper-64 input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}


.boton_invisible {
  background-color: transparent;
  border: none;
  color: inherit; /* Mantiene el color del texto del elemento padre */
  font: inherit;  /* Mantiene la fuente del elemento padre */
  cursor: pointer; /* Para que siga teniendo la funcionalidad de un botón */
  padding: 0;
  margin: 0;
}

small {
  font-size: 70%;
}